@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise04_B.cshtml");

    var pid = Request.QueryString["pid"];
    <p>A search was done with the following partial string for ProductName: @pid</p>

    if (string.IsNullOrEmpty(pid))
    {
        Response.Redirect("Exercise04_A.cshtml");
    }

     var db = Database.Open("CHINOOK");
    var partialstring = "%" + pid + "%";
    var prodquery = @"SELECT AlbumId, Title, "
                + "ReleaseYear, ReleaseLabel "
                + "FROM Albums "
                + "WHERE Title LIKE @0 "
                + "ORDER BY Title";
    var prodinfo = db.Query(prodquery, partialstring);

    var grid = new WebGrid(prodinfo, rowsPerPage: 5);
}
@section banner {<h1>@Page.Title</h1>}
<div class="offset-1">
    <div class="col-11">
        @grid.GetHtml("table table-bordered table-striped table-hover",
        mode: WebGridPagerModes.All,
        lastText: "Last",
        firstText: "First",
        columns: grid.Columns(
            grid.Column(columnName: "AlbumId", header: "ID"),
            grid.Column(columnName: "Title"),
            grid.Column(columnName: "ReleaseYear", header: "Release Year"),
            grid.Column(columnName: "ReleaseLabel", header: "ReleaseLabel"),
            grid.Column(header: "", format: @<text><a href="~/ExercisePages/Exercise04_C.cshtml?pid=@item.AlbumId">Edit</a></text>)));
    </div>
</div>
